body{
  padding: 10px;
}
.App{
  height: 150px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 2px solid teal;
  text-align: center;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdTtJhtSB9LiwS6v5CljJwZn3Nqdn1215ZzNxZgBzD1ojOs8uUszw6fgWP1jr6waQo3Vc&usqp=CAU');
}
.modal {
  font-family: sans-serif;
  text-align: center;
  background:#e6e2e1;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid teal;
}

form input {
  border: 2px solid teal;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 3px 3px 3px teal;
  margin-top: 10px;
  width: calc(100% - 20px);
}
 button {
  border: 2px solid teal;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 3px 3px 3px teal;
  margin: 10px;
}
.post{
  margin-top: 10px;
  text-align: start;
  padding: 10px;
  border: 2px solid teal;
  box-shadow: 3px 2px 3px teal;
}
.doctor {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: start;
  padding: 10px;
}
.doctor-data{
  border: 2px solid teal;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}
.patient{
  border: 2px solid teal;
  border-radius: 10px;
  box-shadow: 3px 2px 3px teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.patient-btn{
  display: flex;
}