body{
  padding: 10px;
}
.App{
  text-align: center;
  background: linear-gradient(128deg, rgba(8,163,244,1) 4%, rgba(231,230,103,1) 34%, rgba(223,231,75,1) 63%, rgba(8,163,244,1) 97%);
}
.modal {
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(128deg, rgba(8,163,244,1) 4%, rgba(231,230,103,1) 34%, rgba(223,231,75,1) 63%, rgba(8,163,244,1) 97%);
  border-radius: 15px;
  padding: 10px;
  border: 2px solid teal;
}

form input {
  border: 2px solid teal;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 3px 3px 3px teal;
  margin-top: 10px;
  width: calc(100% - 20px);
}
 button {
  border: 2px solid teal;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 3px 3px 3px teal;
  margin: 10px;
}
.post{
  margin-top: 10px;
  text-align: start;
  padding: 10px;
  border: 2px solid teal;
  box-shadow: 3px 2px 3px teal;
}
.doctor {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: start;
  padding: 10px;
}
.doctor-data{
  border: 2px solid teal;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}
.patient{
  border: 2px solid teal;
  border-radius: 10px;
  box-shadow: 3px 2px 3px teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.patient-btn{
  display: flex;
}